<!DOCTYPE html>
<html>
<head>
<link href="css/Global_Styles.css" rel="stylesheet" type="text/css"/> 		
<link href = "css/Editor_Styles.css" rel="stylesheet" type="text/css"/>
<link href = "css/Login_Styles.css" rel="stylesheet" type="text/css"/>
</head>
<body>
	<h1> WGSC Schedule Editor</h1> 			 
	<div id ="EditorAppContainer"> 
		<div id = "LoginApp">
			<form method = "post" action="doLoginPlz/">
				<legend> Schedule Editor Login  </legend>		
			<% if ( success_msg ) { %> <div> <%= success_msg %> </div> <% } %>			
			<% if ( error_msg) { %> <div> <%= error_msg %> </div> <% } %>
			<% if (error) { %> <div> <%= error %> </div> <% } %>
			<div class="form-group">
				<br />
				<label For = "Username"> Username </label>
				<input type = "text" id="username" name ="username" maxLength = "21" autoFocus 			
				<% if (Given_Username) { %>
					value ="<%= Given_Username %>" ></input>
				<% } else {%>
					value ="" ></input>
				<% } %>				
			</div>		
			<div class="form-group">
				<br />
				<label For ="Password"> Password </label>
				<input type = "password" id="password" name = "password" maxLength = "21" ></input>
			</div>						
		<input type = 'Submit' value = 'Login' readOnly></input>
		</form>
		</div>
	</div>		 	
</body>
</html>